### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
purchase_data["SN"].unique()
players = len(purchase_data["SN"].value_counts())
players_df = pd.DataFrame({players})
total_players_df= players_df.rename(columns={0:"Total Players"})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
pd.options.display.float_format = '${:,.2f}'.format

In [4]:
unique_items = len(purchase_data["Item Name"].value_counts())
total_revenue = purchase_data["Price"].sum()
purchases = len(purchase_data["SN"])
average_price = total_revenue/purchases

purchase_df = pd.DataFrame([{"Number of Unique Items": unique_items,
                             "Average Price": average_price,
                             "Number of Purchases": purchases,
                             "Total Revenue": total_revenue}])
purchase_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
pd.options.display.float_format = '{:,.2f}%'.format

In [6]:
male_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_players = male_df["SN"].value_counts() 
male_players_count = len(male_players)
male_players_percent = (male_players_count/players)*100

male_players_df = pd.DataFrame([{"Total Count": male_players_count, "Percentage of Players": male_players_percent}])

In [7]:
female_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]
female_players = female_df["SN"].value_counts() 
female_players_count = len(female_players)
female_players_percent = (female_players_count/players)*100

female_players_df = pd.DataFrame([{"Total Count": female_players_count, "Percentage of Players": female_players_percent}])

In [8]:
other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
other_players = other_df["SN"].value_counts() 
other_players_count = len(other_players)
other_players_percent = (other_players_count/players)*100

other_players_df = pd.DataFrame([{"Total Count": other_players_count, "Percentage of Players": other_players_percent}])

In [9]:
mf_df = pd.merge(male_players_df, female_players_df, left_on= ["Total Count", "Percentage of Players"], right_on= ["Total Count", "Percentage of Players"], how="outer")
combined_df = pd.merge(mf_df, other_players_df, left_on= ["Total Count", "Percentage of Players"], right_on= ["Total Count", "Percentage of Players"], how="outer")
combined_df

   Total Count  Percentage of Players
0          484                 84.03%
1           81                 14.06%
2           11                  1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
pd.options.display.float_format = '${:,.2f}'.format

In [11]:
grp = purchase_data.groupby('Gender').Price

count = purchase_data[['SN','Gender']].drop_duplicates()\
        .Gender.value_counts()

pd.DataFrame({
    'Purchase Count': grp.count(),
    'Average Purchase Price': grp.mean(),
    'Total Purchase Value': grp.sum(),
    'Avg Total Purchase per Person': grp.sum()/count
})

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [48]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data['Age Range'] = pd.cut(purchase_data["Age"],\
                                       bins, labels=group_names)

In [84]:
grp = purchase_data.groupby('Age Range').count()
grp

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Range
< 10                23   23   23      23       23         23     23
10-14               28   28   28      28       28         28     28
15-19              136  136  136     136      136        136    136
20-24              365  365  365     365      365        365    365
25-29              101  101  101     101      101        101    101
30-34               73   73   73      73       73         73     73
35-39               41   41   41      41       41         41     41
40+                 13   13   13      13       13         13     13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data['Age Range'] = pd.cut(purchase_data["Age"],\
                                       bins, labels=group_names)

In [28]:
grp = purchase_data.groupby('Age Range').Price

In [37]:
pd.DataFrame({
    'Total Count': grp.count(),
    'Average Purchase Price': grp.mean(),
    'Total Purchase Value': grp.sum(),
    'Avg Total Purchase per Person': grp.sum()/
})

,Total Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
< 10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
purchase_count = purchase_data.groupby("SN").count()["Price"]
average_price = purchase_data.groupby("SN")["Price"].mean()
total_price = purchase_count * average_price

top_spenders = pd.DataFrame({"Purchase Count":purchase_count,
                            "Average Purchase Price":average_price,
                            "Total Purchase Value":total_price})
top_spenders = top_spenders.sort_values("Total Purchase Value", ascending = False)
top_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [81]:
most_pop = purchase_data.loc[:, ['Item ID', 'Item Name', "Price"]]

most_count = most_pop.groupby(['Item ID','Item Name']).count()["Price"]

most_price = most_pop.groupby(['Item ID','Item Name']).Price
most_price

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame